@font-face {
    font-family:'m5x7';
    src: url("/worldOfZuul/GUI/resources/fonts/m5x7.ttf");
}
  
.button{
    -fx-font-family: "m5x7";
    -fx-font-size: 20;
}

.text{
    -fx-font-family: "m5x7";
    -fx-font-size: 20;
}