@font-face {
    font-family:'m5x7';
    src: url("/worldOfZuul/GUI/resources/fonts/m5x7.ttf");
}
  
.button{
    -fx-font-family: "m5x7";
    -fx-font-size: 20;
}

.text-normal{
    -fx-font-family: "m5x7";
    -fx-font-size: 20;
}

.text-h1{
    -fx-font-family: "m5x7";
    -fx-font-size: 50;
    -fx-font-weight: bold;
    
}

.text-h2{
    -fx-font-family: "m5x7";
    -fx-font-size: 30;
}

.text-h3{
    -fx-font-family: "m5x7";
    -fx-font-size: 24;
}